{% extends "layout.html" %}
{%block title %} Home{% endblock %}
{%block content%}
	<h1> Welcome to accompaniMEnt</h1>
	<p> In Classical Music monophonic instruments such as violin, 
	cello or flute may need accompaniment. This is called “correpetition” 
	and it is needed especially when monophonic instrument players take place
	 in exams, seminars or concerts. Finding qualified accompanist in such
	 times is vital since s/he can make the sound of the main instrument
	 clearer and can minimize the mistakes of the instrument player.
	 It is hard to find such accompanist considering that there are
	 few pianists comparing to other instrument players and they are
	 hard to reach as they may not share their contact information.
	 Moreover, contacting with the pianist, arranging appointment and
	 asking for appropriate repertoire takes considerable time. 
	 </p>
	 <p>Aim of this system is to connect those customers and 
	 accompanists. By this system, every accompanist can design
	 his/her webpage by adding his/her repertoire, appointment schedule,
	 educational background, work experiences, contact information 
	 and price while customers can search by filtering city, composer and piece. 	 
	 </p>
	 
{%endblock%}