<html>
	<title> accompaniMEnt {%block title%} {%endblock%}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<body>
		<header>
			<nav class="nav-left">
				<ul class="menu-list">
					<li><a class="is-active" href="/">Home</a></li>
					<li> <a class="is-active" href="{{url_for ('')}}"> Profile </a></li>
				</ul>
			</nav>
		</header>
		{%block content%}{%endblock%}
		<footer class ="footer">
			<div class="content has-text-centered">
				<strong> &copy 2020 Yagmur Caglar </strong>
			</div>
		</footer>
		</body>	
</html>
	
	
	
	