{% extends "layout.html" %}
{%block title %} All Accompanists {% endblock %}
{%block content%}
	<h1 class="title">All Accompanists</h1>

    {% if acms %}
    <table class="table is-striped is-fullwidth">
      {% for index, acm in acms %}
      <tr>
        <td>
			<a href="{{ url_for('movie_page', movie_key=movie_key) }}">
			  {{ acm.name }}
			  {{ acm.surname }}
			  {{ acm.username }}
			</a>
		</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
{% endblock %}