{% extends "layout.html" %}
{% block title %}New Composer{% endblock %}
{% block content %}

    <section class="hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4" style="background-color: white; border-radius:10px; padding-top:30px;">
            <h3 class="title has-text-grey">New Composer</h3>
            <div class="box">
              <form action="" method="post" name="composer">
                {{ form.csrf_token }}

                <div class="field">
                  <div class="control">
                    {{ form.name(required=True, autofocus=True,
                                     class='input is-large',
                                     placeholder='Composer Name') }}
                  </div>
                  {% for error in form.name.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                </div>
                <div class="field">
                    <div class="control">
                      {{ form.surname(required=True, autofocus=True,
                                       class='input is-large',
                                       placeholder='Composer Surname') }}
                    </div>
                    {% for error in form.surname.errors %}
                      <p class="help has-background-warning">
                          {{ error }}
                      </p>
                    {% endfor %}
                  </div>
  
                <button class="button is-block is-dark is-large is-fullwidth ">
                  Add Composer
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>
{% endblock %}