{% extends "layout.html" %}
{% block title %}Üye Ol{% endblock %}
{% block content %}

<section class="hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4" style="background-color: white;border-radius:10px; padding-top:30px;">
            <h3 class="title has-text-grey">Üye Ol</h3>
            <div class="box">
              <form action="" method="post" name="login">
                {{ form.csrf_token }}

				<div class="field">
                  <div class="control">
                    {{ form.name(required=True, autofocus=True,
                                     class='input is-large',
                                     placeholder='Ad') }}
                  </div>
                  {% for error in form.name.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                </div>
				<div class="field">
                  <div class="control">
                    {{ form.surname(required=True, autofocus=True,
                                     class='input is-large',
                                     placeholder='Soyad') }}
                  </div>
                  {% for error in form.surname.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                </div>
				
                <div class="field">
                  <div class="control">
                    {{ form.username(required=True, autofocus=True,
                                     class='input is-large',
                                     placeholder='Kullanıcı Adı') }}
                  </div>
                  {% for error in form.username.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                </div>
				
				<div class="field">
                  <div class="control">
                    {{ form.email(required=True, autofocus=True,
                                     class='input is-large',
                                     placeholder='Email') }}
                  </div>
                  {% for error in form.email.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                </div>

                <div class="field">
                  <div class="control">
                    {{ form.password(required=True, class='input is-large',
                                     placeholder='Şifre') }}
                  </div>
                  {% for error in form.password.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                </div>
				
				<div class="field">
                  <div class="control">
                    {{ form.confirm_password(required=True, class='input is-large',
                                     placeholder='Şifre tekrar') }}
                  </div>
                  {% for error in form.confirm_password.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                </div>
				
				<div class="field">
                  <div class="control">
                    {{ form.is_acm(autofocus=True,
                                     class='radio', type= 'radio') }}
                  </div>
                  {% for error in form.is_acm.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                </div>
				
                <button class="button is-block is-dark is-large is-fullwidth">
                  Üye Ol
                </button>
              </form>
			  <div>
				<small> Zaten hesabınız var mı? <a href="{{url_for('login')}}">Giriş Yap.</a></small>
			  </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
