{% extends "layout.html" %}
{% block title %}Update Account{% endblock %}
{% block content %}

<section class="hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
            <h3 class="title has-text-grey">Register</h3>
            <div class="box">
              <form action="" method="post" name="login">
                {{ form.csrf_token }}

				<div class="field">
                  <div class="control">
                    {{ form.name(required=True, autofocus=True,
                                     class='input is-large',
                                     placeholder='Name') }}
                  </div>
                  {% for error in form.name.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                </div>
				<div class="field">
                  <div class="control">
                    {{ form.surname(required=True, autofocus=True,
                                     class='input is-large',
                                     placeholder='Surname') }}
                  </div>
                  {% for error in form.surname.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                </div>
				
                <div class="field">
                  <div class="control">
                    {{ form.username(required=True, autofocus=True,
                                     class='input is-large',
                                     placeholder='Username') }}
                  </div>
                  {% for error in form.username.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                </div>
				
				<div class="field">
                  <div class="control">
                    {{ form.mail(required=True, autofocus=True,
                                     class='input is-large',
                                     placeholder='Email') }}
                  </div>
                  {% for error in form.mail.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                </div>
				
                <button class="button is-block is-dark is-large is-fullwidth">
                    Update
                </button>
              </form>

              <form action="{{url_for('delete_acc', username = form.username.data)}}" method="POST">
                <button class="button is-block is-danger is-large is-fullwidth" >Delete Account</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}