{% extends "layout.html" %}
{% block title %}Profil Düzenleme{% endblock %}
{% block content %}
    <section class="hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4" style="background-color: white; border-radius:10px; padding-top:30px;">
            <h3 class="title has-text-grey">Profil Düzenleme</h3>
            <div class="box">
                <div>
                    <strong><a href="{{url_for('new_experience', username=form.username.data)}}">Profil özeti ekle</a></strong>
                    <strong> | </strong>
                    <strong><a href="{{url_for('new_reservation', username=form.username.data)}}">Reservasyon ekle</a></strong>
                    <br>
                    <strong><a href="{{url_for('delete_exp', username=form.username.data)}}">Delete Experience</a></strong>
                    <strong> | </strong>
                    <strong><a href="{{url_for('delete_rsr', username=form.username.data)}}">Delete Reservation</a></strong>
                    <br>
                    <strong><a href="{{url_for('list_rsr', username=form.username.data)}}">Update Reservation</a></strong>
                    </div>
              <form action="" method="post">
                {{ form.csrf_token }}
                <div class="field">
                  <div class="control">
                    {{ form.name(required=True, autofocus=True,
                                     class='input is-large',
                                     placeholder='Ad') }}
                  </div>
                  {% for error in form.name.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                </div>
				<div class="field">
                  <div class="control">
                    {{ form.surname(required=True, autofocus=True,
                                     class='input is-large',
                                     placeholder='Soyad') }}
                  </div>
                  {% for error in form.surname.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                </div>
				
                <div class="field">
                  <div class="control">
                    {{ form.username(required=True, autofocus=True,
                                     class='input is-large',
                                     placeholder='Kullanıcı Adı') }}
                  </div>
                  {% for error in form.username.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                </div>
				
				<div class="field">
                  <div class="control">
                    {{ form.mail(required=True, autofocus=True,
                                     class='input is-large',
                                     placeholder='Email') }}
                  </div>
                  {% for error in form.mail.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                </div>

				        <div class="field">
                  <div class="control">
                    {{ form.phone(autofocus=True,
                                     class='input is-large',
                                     placeholder='Telefon Numarası') }}
                  </div>
                  {% for error in form.phone.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                </div>
                <div class="field">
                  <div class="control">
                    {{ form.city(autofocus=True,
                                     class='input is-large',
                                     placeholder='Şehir') }}
                  </div>
                  {% for error in form.city.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                </div>
<!--
                <div class="field">
                  <div class="control">
                    {{ form.university(autofocus=True,
                                     class='input is-large',
                                     placeholder='University') }}
                  </div>
                  {% for error in form.university.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                </div>-->

                <div class="field">
                  <div class="control">
                    {{ form.price(autofocus=True,
                                     class='input is-large',
                                     placeholder='Ücret(TL)') }}
                  </div>
                  {% for error in form.price.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                <div class="field">
                  <div class="control">
        
                    <p><strong>Enstrüman seçiniz.</strong></p>
               
                    {%for composer in composers%}
      
                    <input type ="checkbox" name = "composer" value = "{{composer[0]}}"> {{composer[0]}}
                  
                    {%endfor%}
                  
                  </div>
                </div>

                <button class="button is-block is-dark is-large is-fullwidth">
                    Kaydet
                </button>
              </form>
              <br>

              <form action="{{url_for('delete_acc', username = form.username.data)}}" method="POST">
                <button class="button is-block is-danger is-large is-fullwidth" >Hesabı Sil</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}