{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<section class="hero"> 
	<div class="hero-body">
		<div class="container">
			<!--name surname username-->
			<div class="media">
				<div class="media-content">
					<div class="content">
						<h1> {{user[0]}} {{user[1]}} - <small>{{user[2]}}</small> </h1> 
						{%if current_user.username != user[2]%}
							<div class="dropdown is-hoverable">
								<button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
									<span>Vote</span>
								</button>
								<div class="dropdown-menu" id="dropdown-menu" role="menu">
								<div class="dropdown-content">
										<a class = "dropdown-item" href = "{{url_for('like', username=user[2], like=1 )}}">1</a>
										<a class = "dropdown-item" href = "{{url_for('like', username=user[2], like=2 )}}">2</a>
										<a class = "dropdown-item" href = "{{url_for('like', username=user[2], like=3 )}}">3</a>
										<a class = "dropdown-item" href = "{{url_for('like', username=user[2], like=4 )}}">4</a>
										<a class = "dropdown-item" href = "{{url_for('like', username=user[2], like=5 )}}">5</a>
								</div>
								</div>
							</div>
							{%if current_user.acm == False%}
							<button class= "button" ><a href = "{{url_for('add_list', username=user[2])}}">Add List</a></button>
							{%endif%}
							<button class= "button" ><a href = "{{url_for('new_comment', username=user[2])}}">Add Comment</a></button>
						{%endif%}
					</div>
				</div>
				</div>
				<br>
				<div>
					
					<!--vote-->
					<div class="media">
						<div class="media-left"><figure class="image is-24x24"><img src="../static/star.png" alt=""></figure></div>
						<div class="media-content">
						<div class="content">
							{%if user[9]%}
							<p>{{'%0.2f' %user[9]}} - {{user[8]}} votes </p> 
							{%else%}
							<p>Accompanist has no votes.</p> 
							{%endif%}
							
						</div>
						</div>
					</div>

					<!--price-->
					
					<div class="media">
					<div class="media-left"><figure class="image is-16x16"><img src="../static/tl.svg" alt=""></figure></div>
					<div class="media-content">
						<div class="content">
							{%if user[7] %}
						<p>{{user[7]}}</p> 
						{%else%}
						<p>Accompanist has not entered price information.</p> 
						{%endif%}
						</div>
					</div>
					</div>
					
					<!--phone-->
					{%if user[3] %}
					<div class="media">
					<div class="media-left"><figure class="image is-24x24"><img src="../static/telll.png" alt=""></figure></div>
					<div class="media-content">
						<div class="content">
						<p>{{user[3]}}</p> 
						</div>
					</div>
					</div>
					{%endif%}

					<!--mail-->
					{%if user[4] %}
					<div class="media">
					<div class="media-left"><figure class="image is-24x24"><img src="../static/mail.png" alt=""></figure></div>
					<div class="media-content">
						<div class="content">
						<p>{{user[4]}}</p> 
						</div>
					</div>
					</div>
					{%endif%}

					<!--city-->
					{%if user[6] %}
					<div class="media">
					<div class="media-left"><figure class="image is-24x24"><img src="../static/city.png" alt=""></figure></div>
					<div class="media-content">
						<div class="content">
						<p>{{user[6]}}</p>
						</div>
					</div>
					</div>
					{%endif%}

					<!--university-->
					{%if user[5] %}
					<div class="media">
						<div class="media-left"><figure class="image is-24x24"><img src="../static/edu.jpg" alt=""></figure></div>
					<div class="media-content">
						<div class="content">
						<p>{{user[5]}}</p> 
						</div>
					</div>
					</div>
					{%endif%}

					<!--repertoire-->
					{%if repertoire %}
					<div class="media">
						<div class="media-left"></div>
						<div class="media-content">
							<div class="content">
							<p><strong>Repertoire</strong></p> 
							</div>
						</div>
						</div>
					
					
					<div class="media">
					<div class="media-left"></div>
					<div class="media-content">
						<div class="content">
							{%for composer in repertoire%}
								<p>{{composer[0]}}</p>
								{%endfor%}
						</div>
					</div>
					</div>
					{%endif%}

					<!--experience-->
					{%if experiences %}
					<div class="media">
						<div class="media-left"></div>
						<div class="media-content">
							<div class="content">
							<p><strong>Experiences</strong></p> 
							</div>
						</div>
						</div>
					
					
					<div class="media">
					<div class="media-left"></div>
					<div class="media-content">
						<div class="content">
							
							{%for experience in experiences%}
								<p>{{experience[0]}}, {{experience[1]}}</p> 
								{%endfor%}
							
						</div>
					</div>
					</div>
					
					
					{%endif%}

					<!--reservations-->
					{%if reservations %}
					<div class="media">
						<div class="media-left"></div>
						<div class="media-content">
							<div class="content">
							<p><strong>Reservations</strong></p> 
							</div>
						</div>
						</div>
					
					
					<div class="media">
					<div class="media-left"></div>
					<div class="media-content">
						<div class="content">
							{%for reservation in reservations%}
								<p>{{reservation[0]}}, {{reservation[1]}}</p> 
								{%endfor%}
						</div>
					</div>
					</div>
					
					{%endif%}
					
					<!--comments-->
					{%if comments %}
					<div class="media">
						<div class="media-left"></div>
						<div class="media-content">
							<div class="content">
							<p><strong>Comments</strong></p> 
							</div>
						</div>
						</div>
					
					{%for comment in comments%}
					<div class="media">
					<div class="media-left"></div>
					<div class="media-content">
						<div class="content">
							
								<p>{{comment[0]}} {{comment[1]}} - {{comment[2]}} <small>{{comment[4]}}</small></p> 
								<p> {{comment[3]}}</p>
							
						</div>
					</div>
					</div>
					{%endfor%}
					{%endif%}

				</div>
				<br>

		</div>
	</div>
</section>  
{%endblock%}